# These will be automatically created by Neon Launchpad (https://neon.new).
# You will also need to 
DATABASE_URL=

# Generate a secret key: `npx -y @better-auth/cli secret`
BETTER_AUTH_URL=
BETTER_AUTH_SECRET=

# TMDB
TMDB_BEARER_TOKEN=

# OMDB
OMDB_API_KEY=

# Watchmode
WATCHMODE_API_KEY=